# Compiled Object files
*.slo
*.lo
*.o
Decisivator*
*.log
RandTree_V1.0/rt

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Eclipse files
.cproject
.project
.classpath
.settings
.metadata

# netbeans
nbproject

# junk
.DS_Store
*~
