# Compiled Object files
*.slo
*.lo
*.o
Decisivator*
*.log

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Eclipse files
.cproject
.project
.classpath
.settings

# junk
.DS_Store
*~
